.showBorder{
    border: 1px solid black;
}
.amaticFont{
    font-family: 'Amatic SC', cursive;
    font-size: 3.25rem;
}
.catamaranFont{
    font-family: 'Catamaran', sans-serif;
}
.pc__bg{
    background-color: #a3d5d1;
    background-size: 100%;
    height: 100vh;
}
.pc__view{
    height: 90vh;
    width: 75%;
    position: relative;
    margin: 2.25% auto;
    background-color: white;
    border-radius: .25rem;
}
.pcsb__bg{
    background-color: rgb(246, 245, 250);
}
.pc__sidebar{
    height: 90vh;
    background-color: #333333;
    border-radius: .25rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
    position: absolute;
    z-index: 20;
}
.pc__sidebarWidthCl{
    width: 50%;
    transition: width 2s;
}
.pc__sidebarWidthOp{
    width: 100%;
    transition: width 2s;
}
.menu__icon{
    position: absolute;
    top: 6vh;
    left: 2vw;
    cursor: pointer;
    height: 5vh;
    width: 5vw;
}
.line1Closed, .line2Closed, .line1Opened, .line2Opened{
    height: 3px;
    width: 20px;
    border-radius: .25rem;
    background-color: #a3d5d1;
    position: absolute;
}
.line1Closed{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    position: absolute;
    top: 13px;
    left: 0px;
    transition: top 2s, left, 2s;
}
.line1Opened{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: top 2s, left, 2s;
}
.line2Closed{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: top 2s, left, 2s;
}
.line2Opened{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    position: absolute;
    top: 13px;
    left: 0px;
    transition: top 2s, left, 2s;
}
.pc__mainbg{
    position: relative;
    background-image: url(../../../assets/main-background1.jpg);
    background-size: cover;
    height: 90vh;
    border-radius: .25rem
}
.pcsb__container, .pcm__container{
    height: 89.8vh;
}
.pcsb__container{
    position: relative;
    z-index: 20;
}

.pcsb__categories{
    position: relative;
    margin: 10% auto;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 30%;
}
.pcsb__titleContainer{
    position: relative;
    top: 8vh;
    margin: 0 auto;
}
.pcsb__titleCl{
    color:#333333;
    font-size: .3rem;
    text-transform: uppercase;
    padding: 25%;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    transition: color .5s ,font-size 2s;
}
.pcsb__titleOp{
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 25%;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    transition: color 2s, font-size 2s;
}
.pcsb__categoryCl{
    color:#333333;
    font-size: .3rem;
    text-transform: uppercase;
    margin: 10% auto;
    font-family: 'Catamaran', sans-serif;
    transition: color .5s ,font-size 2s;
}
.pcsb__categoryOp{
    color: white;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 10% auto;
    font-family: 'Catamaran', sans-serif;
    transition: color 2s, font-size 2s;
}
.pcsb__categoryOp:hover{
    color: #a3d5d1;
    text-shadow: .5px .5px #80c9c6;
}
.pcsb__separatorCl{
    background-color: #333333;
    margin: 20% auto;
    width: 0%;
    height: 1px;
    transition: width 2s, color .5s;
}
.pcsb__separatorOp{
    background-color: #a3d5d1;
    margin: 20% auto;
    width: 70%;
    height: 1px;
    transition: width 2s, color 2s;
}
.pictureCopyright{
    position: absolute;
    bottom: 1.5vh;
    right: 4vw;
    color: #333333;
    font-size: 11px;
    font-family: 'Catamaran', sans-serif;
}
.developerCopyrightCl{
    position: absolute;
    bottom: 4vh;
    left: 1vw;
    color:#333333;
    font-size: 5px;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    padding: 10%;
    transition: color 2s, font 2s;
}
.developerCopyrightOp{
    position: absolute;
    bottom: 4vh;
    left: 1vw;
    color:white;
    font-size: 13px;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    padding: 10%;
    transition: color .5s, font 2s;
}
.listTitle__container{
    margin-top: 5% !important;
    margin-left: 5% !important;
}
.listTitle{
    font-size: 1.25rem;
    font-family: 'Catamaran', sans-serif;
    color: #333333;
    text-transform: capitalize;
    font-weight: 700;
}
.list__containerOp{
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.5);
    border-radius: .25rem;
    min-height: 30vh;
    max-height: 50vh;
    overflow-y: scroll;
    width: 90%;
    position: absolute;
    left: 2vw;
    margin: 0 auto !important;
    margin-top: 1% !important;
    transition: width 2s, left 2s;
}
.list__containerCl{
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.5);
    border-radius: .25rem;
    min-height: 30vh;
    max-height: 50vh;
    overflow-y: scroll;
    width: 100%;
    margin: 0 auto !important;
    margin-top: 1% !important;
    position: absolute;
    left:-5vw;
    transition: width 2s, left 2s;
}
.toDo__container{
    width: 90%;
    margin: 3% auto!important;
    background-color:rgb(255,255,255);
    opacity: 1 !important;
    min-height: 5vh;
    position: relative;
    z-index: 10;
    border-radius: .25rem;
    cursor: pointer;
}
.toDo__undone{
    border-left: .30vw solid #a3d5d1;
}
.toDo__done{
    border-left: .30vw solid rgb(179,157,219);
}
.toDo{
    color: #333333;
    font-family: 'Catamaran', sans-serif;
    position: absolute;
    padding-left: 5% !important;
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: contents;
}
.toDoDate{
    color: #333333;
    opacity: .5;
    font-family: 'Catamaran', sans-serif;
}
.deleteIcon{
    margin: 0;
    cursor: pointer;
    color: #333333;
}
.delateIcon__done{
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 0;
    cursor: pointer;
    color: #333333;
}
.delateIcon__done:hover{
    color: rgb(179,157,219);
}
.deleteIcon:hover{
    color: #a3d5d1;
}
.addToDo__containerCl{
    width: 98%;
    margin: 2% auto!important;
    background-color: rgba(179,157,219, 0.6);
    opacity: 1 !important;
    min-height: 7vh;
    position: relative;
    left: -3.5vw;
    z-index: 10;
    border-radius: .25rem;
    transition: width 2s, left 2s;
}
.addToDo__containerOp{
    width: 90%;
    margin: 2% auto!important;
    background-color: rgba(179,157,219, 0.6);
    opacity: 1 !important;
    min-height: 7vh;
    position: relative;
    left: 0;
    z-index: 10;
    border-radius: .25rem;
    transition: width 2s, left 2s;
}
.AddToDo{
    background: none;
    opacity: 1;
    font-family: 'Catamaran', sans-serif;
    position: relative;
    padding: 2vh .5vh;
    margin: 0;
    -webkit-appearance: media-slider;
    border: none;
    outline: none;
    width: 100%;
    color:rgba(255,255,255,1);
}
.AddToDo:focus{
    background: none;
    opacity: 1;
    font-family: 'Catamaran', sans-serif;
    position: relative;
    padding: 2vh .5vh;
    margin: 0;
    -webkit-appearance: media-slider;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    color:rgba(255,255,255,1);
}
.datePadding{
    padding: 2vh 1vw 1vh 2vw;
}
.datePadding:focus{
    padding: 2vh 1vw 1vh 2vw;
}
.dateHeight{
    min-height: 11vh;
}
.dateHeight:focus{
    min-height: 11vh;
}
.dateInput__container{
    position: relative;
    margin: 0 auto !important;
    margin-left: 0% !important;
    width: 80%;
}
.AddToDoDate{
    background: none;
    opacity: 1;
    font-family: 'Catamaran', sans-serif;
    position: relative;
    padding: 1vh 2vw 2vh 2vw !important;
    margin: 0;
    -webkit-appearance: media-slider;
    border: none;
    outline: none;
    width: 100%;
    color:rgba(255,255,255,1);
}
.AddToDoDate:focus{
    background: none;
    opacity: 1;
    font-family: 'Catamaran', sans-serif;
    position: relative;
    padding: 1vh 2vw 2vh 2vw !important;
    margin: 0;
    -webkit-appearance: media-slider;
    border: none;
    outline: none;
    width: 100%;
    color:rgba(255,255,255,1);
}
.addButton{
    border: none;
    background: none;
}
.addButton:focus{
    border: none;
    background: none;
    outline: none;
}
.addIcon{
    color:rgba(255,255,255,1);
    margin: 0;
    cursor: pointer;
}
.errorMessage{
    position: relative;
    margin: 0 auto !important;
    width: 50%;
}
.error{
    font-size: small;
    color: #dc3545;
}
input:invalid {
    color: white;
  }
.toDoDate__undone{
    font-weight: 500;
    color: #a3d5d1
}
.toDoDate__done{
    font-weight: 500;
    color: rgba(179,157,219, 1);
}
.bought{
    color: rgba(179,157,219, 1);
    cursor: pointer;
}
.nonBought{
    color: rgba(163, 213, 209, 1);
    cursor: pointer;
}
/*SCROLL BAR*/
/* width */
::-webkit-scrollbar {
width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
/*INPUT PLACEHOLDER*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:white;
}
/*NUMBER INPUT*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-width: 1567px){
    .pcsb__titleOp{
        padding: 25%;
    }
    .pcsb__titleCl{
        padding: 25%;
    }
    .pcsb__categories{
        margin-top: 30%;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px){
    .pcsb__titleOp{
        font-size: 1.2rem;
    }
    .pcsb__categoryOp{
        font-size: 1rem;
    }
    .amaticFont{
        font-size: 3rem;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .pcsb__titleOp{
        font-size: 1rem;
    }
    .pcsb__categoryOp{
        font-size: .8rem;
    }
    .amaticFont{
        font-size: 2.5rem;
    }
    .pcsb__categories{
        margin-top: 45%;
        padding: 10%;
    }
    .pcsb__titleContainer{
        top: 10vh;
    }
}
@media screen and (max-width: 767px) and (min-width: 576px){
    .pcsb__titleOp{
        font-size: 1rem;
        padding: 0 25%;
    }
    .pcsb__titleCl{
        padding: 0 25%;
    }
    .pcsb__categoryOp{
        font-size: .8rem;
    }
    .amaticFont{
        font-size: 2.5rem;
    }
    .pcsb__categories{
        margin-top: 20%;
        padding: 10%;
    }
    .pcsb__titleContainer{
        top: 10vh;
    }
}
@media screen and (max-width: 575px){
    .pc__view{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .pc__sidebar{
        height: 100vh
    }
    .pc__mainbg{
        height: 100vh;
    }
    .pcm__container{
        height: 100vh;
    }
    .pcsb__titleOp{
        font-size: 1.25rem;
        padding: 20%;
    }
    .pcsb__titleCl{
        padding: 0 25%;
    }
    .pcsb__categoryOp{
        font-size: .9rem;
        margin: 15% auto;
    }
    .pcsb__categoryCl{
        font-size: .9rem;
        margin: 15% auto;
    }
    .amaticFont{
        font-size: 2.15rem;
        margin-left: 1.50% !important;
    }
    .pcsb__categories{
        margin-top: 60%;
        padding: 10%;
    }
    .pcsb__titleContainer{
        top: 10vh;
    }
    .pcsb__container{
        height: 100vh;
        overflow: hidden;
    }
    .menu__icon{
        left: 7vw;
        z-index: 25;
    }
    .pc__mainbg{
        background-image: url(../../../assets/main-background2.jpg);
    }
    .list__containerCl{
        width: 120%;
        left: -15vw;
    }
    .addToDo__containerCl{
        width: 128%;
        left: -15vw;
    }
    .toDo__undone{
        border-left: 1.35vw solid #a3d5d1;
    }
    .toDo__done{
        border-left: 1.35vw solid rgb(179,157,219);
    }
}
/*iPad*/
@media screen and (max-width: 1024px) and (min-width: 768px) and (max-height: 1024px) and (min-height: 768px){
    .pc__view{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .pc__sidebar{
        height: 100vh
    }
    .pc__mainbg{
        height: 100vh;
    }
    .pcm__container{
        height: 100vh;
    }
    .pcsb__titleOp{
        font-size: 1.25rem;
        padding: 15%;
    }
    .pcsb__titleCl{
        padding: 0 25%;
    }
    .pcsb__categoryOp{
        font-size: .9rem;
        margin: 15% auto;
    }
    .pcsb__categoryCl{
        font-size: .9rem;
        margin: 15% auto;
    }
    .amaticFont{
        font-size: 3rem;
    }
    .pcsb__categories{
        margin-top: 95%;
        padding: 10%;
    }
    .pcsb__titleContainer{
        top: 10vh;
    }
    .pcsb__container{
        height: 100vh;
        overflow: hidden;
    }
    .menu__icon{
        left: 3.5vw;
    }
    .pc__mainbg{
        background-image: url(../../../assets/main-background2.jpg);
    }
}
/*iPad Pro*/
@media screen and (max-width: 1366px) and (min-width: 1024px) and (max-height: 1366px) and (min-height: 1024px){
    .pc__view{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .pc__sidebar{
        height: 100vh
    }
    .pc__mainbg{
        height: 100vh;
    }
    .pcm__container{
        height: 100vh;
    }
    .pcsb__titleOp{
        font-size: 1.25rem;
        padding: 20%;
    }
    .pcsb__titleCl{
        padding: 0 25%;
    }
    .pcsb__categoryOp{
        font-size: .9rem;
        margin: 15% auto;
    }
    .pcsb__categoryCl{
        font-size: .9rem;
        margin: 15% auto;
    }
    .amaticFont{
        font-size: 3.15rem;
    }
    .pcsb__categories{
        margin-top: 95%;
        padding: 10%;
    }
    .pcsb__titleContainer{
        top: 10vh;
    }
    .pcsb__container{
        height: 100vh;
        overflow: hidden;
    }
    .menu__icon{
        left: 3.5vw;
    }
    .pc__mainbg{
        background-image: url(../../../assets/main-background2.jpg);
    }
}
.cookies__container{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 15vh;
    background-color: #444;
    width: 100%;
    z-index: 30;
}
.cookies__col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    text-align: center;
}
.cookies__text{
    color:white;
    font-family: 'Catamaran', sans-serif;
    display: contents;
    vertical-align: middle;
}
.x__col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
}
.button__col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}
.x__icon{
    color: white;
    vertical-align: middle;
    margin-top: 20%;
    cursor: pointer;
    font-size: 1.5rem;
}
.x__icon:hover, .x__icon:focus{
    color: #a3d5d1;
    vertical-align: middle;
    margin-top: 20%;
    cursor: pointer;
}
.accept__button{
    color:white;
    font-family: 'Catamaran', sans-serif;
    outline: none;
    border: 1px solid white;
    border-radius: .25rem;
    background-color: #444;
    cursor: pointer;
}
.accept__button:hover, .accept__button:focus{
    color: #a3d5d1;
    font-family: 'Catamaran', sans-serif;
    outline: none;
    border: 1px solid #a3d5d1;
    border-radius: .25rem;
    background-color: #444;
    cursor: pointer;
}
@media screen and (max-width: 575px){
    .accept__button, .cookies__text{
        font-size: .7rem;
    }
    .accept__button{
        z-index: 35;
    }
    .cookies__text{
        display: block;
        padding: 13% !important;
        margin-top: 3.5%;
        margin-bottom: 5.5%;
    }
    .x__icon{
        font-size: 1rem;
        z-index: 35;
    }
}