<!--PC View-->
<div class="pc__bg">
    <div class="row m-0 p-0">
        <div class="pc__view">
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-4 col-md-2 pcsb__bg m-0 p-0">
                        <!-- Side Bar -->
                        <div class="row pc__sidebar m-0 p-0"
                            [ngClass]="{pc__sidebarWidthCl: !sideBarOpened, pc__sidebarWidthOp: sideBarOpened}">
                            <div class="col-12 m-0 p-0">
                                <div class="pcsb__container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="menu__icon" (click)="openSideBar()">
                                                    <div
                                                        [ngClass]="{line1Closed: !sideBarOpened, line1Opened: sideBarOpened}">
                                                    </div>
                                                    <div
                                                        [ngClass]="{line2Closed: !sideBarOpened, line2Opened: sideBarOpened}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="showItems == true">
                                        <div class="w-100">
                                            <div class="row pcsb__titleContainer p-0 m-0">
                                                <div class="col-12 p-0 m-0">
                                                    <p
                                                        [ngClass]="{pcsb__titleCl:!showCategories, pcsb__titleOp:showCategories}">
                                                        choose your to do list</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100">
                                            <ul class="pcsb__categories">
                                                <li (click)="changeList('today')"
                                                    [ngClass]="{pcsb__categoryCl:!showCategories, pcsb__categoryOp:showCategories}">
                                                    today</li>
                                                <li (click)="changeList('tomorrow')"
                                                    [ngClass]="{pcsb__categoryCl:!showCategories, pcsb__categoryOp:showCategories}">
                                                    tomorrow</li>
                                                <li (click)="changeList('this week')"
                                                    [ngClass]="{pcsb__categoryCl:!showCategories, pcsb__categoryOp:showCategories}">
                                                    this week</li>

                                                <div
                                                    [ngClass]="{pcsb__separatorCl:!showCategories, pcsb__separatorOp:showCategories}">
                                                </div>

                                                <li (click)="changeList('shopping list')"
                                                    [ngClass]="{pcsb__categoryCl:!showCategories, pcsb__categoryOp:showCategories}">
                                                    shopping list</li>
                                                <li (click)="changeList('work meetings')"
                                                    [ngClass]="{pcsb__categoryCl:!showCategories, pcsb__categoryOp:showCategories}">
                                                    work meetings</li>

                                            </ul>
                                        </div>

                                    </div>
                                    <div *ngIf="showItems == true">
                                        <a [ngClass]="{developerCopyrightCl:!showCategories, developerCopyrightOp:showCategories}"
                                            href="https://github.com/agnesft5">Developed by Agnès Font © </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-md-10 pc__mainbg m-0 p-0">
                        <!-- Main -->
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <div class="pcm__container">
                                    <div class="row m-0 p-0">
                                        <h1 class="amaticFont ml-5">empty your
                                            mind, focus on what really matters.</h1>
                                        <div class="col-12">
                                            <div class="row p-0 m-0 listTitle__container">
                                                <div class="col-12 p-0 m-0 text-left">
                                                    <p *ngIf="listTitle != 'shopping list' && listTitle != 'work meetings'"
                                                        class="listTitle">{{listTitle}} &nbsp;<i
                                                            class="fas fa-calendar-alt"></i></p>
                                                    <p *ngIf="listTitle == 'shopping list'" class="listTitle">
                                                        {{listTitle}} &nbsp;<i class="fas fa-shopping-basket"></i></p>
                                                    <p *ngIf="listTitle == 'work meetings'" class="listTitle">
                                                        {{listTitle}} &nbsp;<i class="fas fa-briefcase"></i></p>
                                                </div>
                                            </div>
                                            <!--Input & button container-->
                                            <div class="row m-0 p-0">
                                                <div class="col-12 m-0 p-0">
                                                    <!--New to do-->
                                                    <div
                                                        [ngClass]="{addToDo__containerCl:!sideBarOpened, addToDo__containerOp:sideBarOpened, dateHeight: listTitle != 'today' && listTitle != 'shopping list'}">
                                                        <div class="row m-0 p-0">
                                                            <div class="col-2 m-0 p-0 text-center" style="position: relative;
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;">
                                                                <button
                                                                    [disabled]="newTask.invalid && newTask.touched && newTask.dirty || newTask.touched && newTask.pristine"
                                                                    (click)="addTask(); newTask.reset();" type="submit"
                                                                    class="addButton"><i class="fas fa-plus addIcon"
                                                                        style="font-size: 1.5rem;"></i></button>
                                                            </div>
                                                            <div class="col-10 m-0 p-0">
                                                                <!--Task-->
                                                                <input type="text" #newTask="ngModel" [(ngModel)]="task"
                                                                    name="task" class="AddToDo"
                                                                    [ngClass]="{datePadding: listTitle != 'today' && listTitle != 'shopping list'}"
                                                                    placeholder="Add new task!" required
                                                                    pattern="([\w ]+)">
                                                                <div *ngIf="listTitle != 'today' && listTitle != 'shopping list'"
                                                                    class="row m-0 p-0 dateInput__container">
                                                                    <div class="col-4 m-0 p-0">
                                                                        <!--Day-->
                                                                        <input type="number" #newDateDay="ngModel"
                                                                            [(ngModel)]="deadlineDay" name="deadlineDay"
                                                                            class="AddToDoDate" placeholder="Day"
                                                                            required>
                                                                    </div>
                                                                    <div class="col-4 m-0 p-0">
                                                                        <!--Month-->
                                                                        <input type="number" #newDateMonth="ngModel"
                                                                            [(ngModel)]="deadlineMonth"
                                                                            name="deadlineMonth" class="AddToDoDate"
                                                                            placeholder="Month" required>
                                                                    </div>
                                                                    <div class="col-4 m-0 p-0">
                                                                        <!--Year-->
                                                                        <input type="number" #newDateYear="ngModel"
                                                                            [(ngModel)]="deadlineYear"
                                                                            name="deadlineYear" class="AddToDoDate"
                                                                            placeholder="Year" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row m-0 p-0 errorMessage">
                                                            <div class="col-12 m-0 p-0 text-center">
                                                                <p class="error"
                                                                    *ngIf="newTask.invalid && newTask.touched && newTask.dirty">
                                                                    Invalid format*</p>
                                                                <p class="error"
                                                                    *ngIf="newTask.touched && newTask.pristine">
                                                                    This field is mandatory*</p>
                                                                <p class="error" *ngIf="advice">
                                                                    {{advice}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--List Container-->
                                            <div *ngIf="selectedList">
                                                <div [ngClass]="{list__containerCl:!sideBarOpened, list__containerOp:sideBarOpened}"
                                                    class="row m-0 p-0">
                                                    <div class="col-12 m-0 p-0">
                                                        <!--To do-->
                                                        <div *ngIf="listTitle != 'shopping list'">
                                                            <div class="toDo__container"
                                                                [ngClass]="{toDo__undone: selected['done']==false, toDo__done: selected['done']==true}"
                                                                *ngFor="let selected of selectedList, let i= index">
                                                                <div class="row m-0 p-0">
                                                                    <div class="col-9 m-0 p-0" style="padding: 1.5% !important;
                                                                    padding-left: 3% !important;">
                                                                        <p (click)="taskDone(i)" class="toDo">
                                                                            {{selected['name']}}<span
                                                                                *ngIf="selected['onDate']">&nbsp;&nbsp;on&nbsp;&nbsp;<span
                                                                                    [ngClass]="{toDoDate__undone:selected['done']==false ,toDoDate__done:selected['done']==true}">{{selected['onDate']}}</span></span>
                                                                        </p>
                                                                        <div class="row m-0 p-0 float-right toDoDate">
                                                                            <div class="col-12 m-0 p-0">
                                                                                <small
                                                                                    *ngIf="!sideBarOpened">{{selected['date']}}</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-3 m-0 p-0 text-center" style="display: flex !important;
                                                                align-items: center !important;
                                                                justify-content: center !important;">
                                                                        <p (click)="deleteTask(i)"
                                                                            [ngClass]="{deleteIcon: selected['done']==false, delateIcon__done: selected['done']==true}">
                                                                            <i class="fas fa-trash-alt"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Shopping list-->
                                                        <div *ngIf="listTitle == 'shopping list'">
                                                            <div class="toDo__container"
                                                                *ngFor="let selected of selectedList, let i= index">
                                                                <div class="row m-0 p-0">
                                                                    <div class="col-2 m-0 p-0" style="position: relative;
                                                                    display: flex;
                                                                    align-items: center;
                                                                    justify-content: center;">
                                                                        <p (click)="taskDone(i)" class="m-0 p-0"
                                                                            [ngClass]="{nonBought: selected['done']==false, bought: selected['done']==true}">
                                                                            <i class="fas fa-circle"></i>
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-7 m-0 p-0" style="padding: 1.5% !important;
                                                                    padding-left: 3% !important;">
                                                                        <p class="toDo">
                                                                            {{selected['name']}}
                                                                        </p>
                                                                        <!-- <div class="row m-0 p-0 float-right toDoDate">
                                                                            <div class="col-12 m-0 p-0">
                                                                                <small
                                                                                    *ngIf="!sideBarOpened">{{selected['date']}}</small>
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-3 m-0 p-0 text-center" style="display: flex !important;
                                                                align-items: center !important;
                                                                justify-content: center !important;">
                                                                        <p (click)="deleteTask(i)"
                                                                            [ngClass]="{deleteIcon: selected['done']==false, delateIcon__done: selected['done']==true}">
                                                                            <i class="fas fa-trash-alt"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="pictureCopyright" href="https://unsplash.com/s/photos/anna-spratt">Picture by Anna
                                Spratt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="agree == true" class="cookies__container">
    <div class="row m-0 p-0">
        <div class="col-11 m-0 p-0 x__col"></div>
        <div class="col-1 m-0 p-0 x__col">
            <i class="fas fa-times x__icon" (click)="closeCookies()"></i>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0 cookies__col">
            <p class="cookies__text">This site uses cookies to give you the best possible experience. By continuing to use this site you agree that we can save them in your device.</p>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0 button__col">
            <button (click)="closeCookies()" type="button" class="accept__button">Accept</button>
        </div>
    </div>
</div>