<!--PC View-->
<div class="pc__bg">
    <div class="row m-0 p-0">
        <div class="pc__view">
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 pcsb__bg m-0 p-0">
                        <!-- Side Bar -->
                        <div class="row pc__sidebar m-0 p-0" [ngClass]="{pc__sidebarWidthCl: !sideBarOpened, pc__sidebarWidthOp: sideBarOpened}">
                            <div class="col-12 m-0 p-0">
                                <div class="pcsb__container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="menu__icon" (click)="openSideBar()">
                                                    <div [ngClass]="{line1Closed: !sideBarOpened, line1Opened: sideBarOpened}"></div>
                                                    <div [ngClass]="{line2Closed: !sideBarOpened, line2Opened: sideBarOpened}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 pc__mainbg m-0 p-0">
                        <!-- Main -->
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <div class="pcm__container">
                                    <div class="row">
                                        <h1 class="amaticFont ml-5">empty your mind, focus on what matters.</h1>
                                        <div class="col-4">

                                        </div>
                                        <div class="col-4">

                                        </div>
                                        <div class="col-4">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>